<mat-card>

    <mat-card-content>
        <h3>Doctors</h3>
        <mat-list *ngIf="items?.length > 0" role="list">
            <tl-doctor-list-item *ngFor="let item of items"
                               [item]="item"
                               role="listitem"
                               (update)="updateDoctor($event)"
                               (delete)="deleteDoctor($event)">
            </tl-doctor-list-item>
        </mat-list>
    </mat-card-content>

    <mat-card-actions>
        <form [formGroup]="form">
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text">
                <button *ngIf="nameControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="nameControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </form>
        <form [formGroup]="form">
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Telephone Number</mat-label>
                <input formControlName="telephoneNumber" matInput type="text">
                <button *ngIf="telephoneNumberControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="telephoneNumberControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </form>
        <form [formGroup]="form">
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Hospital id</mat-label>
                <input formControlName="hospitalId" matInput type="number">
                <button *ngIf="hospitalIdControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="hospitalIdControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </form>
        <button mat-flat-button color="primary" (click)="addItem()">Create</button>
    </mat-card-actions>
    
</mat-card>
