<mat-card>

    <mat-card-content>
        <h3>Patients</h3>
        <mat-list *ngIf="items?.length > 0" role="list">
            <tl-patient-item *ngFor="let item of items"
                               [item]="item"
                               role="listitem"
                               (update)="updatePatient($event)"
                               (delete)="deletePatient($event)">
            </tl-patient-item>
        </mat-list>
    </mat-card-content>

    <mat-card-actions>
        <form [formGroup]="form">
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text">
                <button *ngIf="nameControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="nameControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </form>
        <form [formGroup]="form">
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Health card number</mat-label>
                <input formControlName="healthCardNumber" matInput type="number">
                <button *ngIf="healthCardNumberControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="healthCardNumberControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </form>
        <form [formGroup]="form">
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Doctor id</mat-label>
                <input formControlName="doctorId" matInput type="number">
                <button *ngIf="doctorIdControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="doctorIdControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </form>
        <button mat-flat-button color="primary" (click)="addItem()">Create</button>
    </mat-card-actions>
    
</mat-card>
