<mat-card>

    <mat-card-title>Medicine</mat-card-title>
    <mat-nav-list  class="list-horizontal">
        <mat-list-item class="nav-item"><a routerLink="/hospital"><h3>Hospital</h3></a></mat-list-item>
        <mat-list-item class="nav-item"><a routerLink="/doctor"><h3>Doctor</h3></a></mat-list-item>
        <mat-list-item class="nav-item"><a routerLink="/patient"><h3>Patient</h3></a></mat-list-item>
    </mat-nav-list>
    <br>

    <mat-card-content>
        <h3>Hospitals</h3>
    
        <tl-hospital-list-item *ngIf="items?.length > 0"
                            [dataSource]="items"
                            (delete)="deleteHospital($event)">
        </tl-hospital-list-item>
    </mat-card-content>

    <mat-card-actions class="form">
        <form [formGroup]="form">
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Id for update</mat-label>
                <input formControlName="id" matInput type="number">
                <button *ngIf="idControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="idControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </form>
        <form [formGroup]="form">
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput type="text">
                <button *ngIf="nameControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="nameControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </form>
        <form [formGroup]="form">
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Address</mat-label>
                <input formControlName="address" matInput type="text">
                <button *ngIf="addressControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="addressControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </form>
        <form [formGroup]="form">
            <mat-form-field class="example-form-field" appearance="fill">
                <mat-label>Telephone Number</mat-label>
                <input formControlName="telephoneNumber" matInput type="text">
                <button *ngIf="telephoneNumberControl.value" matSuffix mat-icon-button aria-label="Clear"
                        (click)="telephoneNumberControl.setValue(null)">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </form>
        <button mat-flat-button color="accent" (click)="addItem()">Create</button>
        <button style="margin: 0px 10px" mat-flat-button color="primary" (click)="updateHospital()">Update</button>
    </mat-card-actions>
    
</mat-card>
